.api-functions {
    display: flex;
    flex-direction: column;
}

.api-button {
    background-color: #007BFF; /* Primary blue color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; /* Space between buttons */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.api-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
